<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/public.css" th:href="@{/css/public.css}">
    <title th:text="|当前表题为-${title}|">默认标题</title>
</head>
<body>
<table>
    <tr>
        <th>阿里密钥信息</th>
        <th>Another Heading</th>
    </tr>
    <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
    </tr>
    <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
    </tr>
</table>

</body>
</html>