<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/public.css" th:href="@{/css/public.css}">
    <script type="text/javascript" src="/static/js/wait.js" th:src="@{/js/wait.js}"></script>
    <title th:text="|当前表题为-${title}|">默认标题</title>
</head>
<body>
<div class = "middleWrapper title" th:text="${name}">网站信息</div>
<div class = "middleWrapper content">该站点仍在建设中，敬请期待<span class="dot">...</span></div>
<footer class="footer_text">@韩飞洋</footer>
</body>
</html>